@font-face {
    font-family: 'NoirPro-Medium';
    src: url('../font/NoirPro-Medium.eot');
    src: local('☞Noir Pro Medium'), local('NoirPro-Medium'),
    url('../font/NoirPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../font/NoirPro-Medium.woff2') format('woff2'),
    url('../font/NoirPro-Medium.woff') format('woff'),
    url('../font/NoirPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'NoirPro-Regular';
    src: url('../font/NoirPro-Regular.eot');
    src: local('☞Noir Pro'), local('NoirPro-Regular'),
    url('../font/NoirPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/NoirPro-Regular.woff2') format('woff2'),
    url('../font/NoirPro-Regular.woff') format('woff'),
    url('../font/NoirPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NoirPro-Light';
    src: url('../font/NoirPro-Light.eot');
    src: local('☞Noir Pro Light'), local('NoirPro-Light'),
    url('../font/NoirPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../font/NoirPro-Light.woff2') format('woff2'),
    url('../font/NoirPro-Light.woff') format('woff'),
    url('../font/NoirPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


/*Specification*/
body {
    font-family: 'Roboto', sans-serif;
}


/*Header*/
.header {
    position: relative;
    padding-top: 10px;
    background: #FFFFFF;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    z-index: 9;
}

/*Header Logo*/
.logo__link {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    cursor: pointer;
}


/*Header menu*/


.menu__item {
    box-sizing: border-box;
    position: relative;
}

.menu__item-link {
    display: block;
    padding: 11px 14px 13px 14px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    text-decoration: none;
    color: #707683;
    border-bottom: 4px solid transparent;
}

.menu__item-link-icon {
    margin-left: 6px;
}

.menu__item:hover > .menu__item-link {
    border-bottom: 4px solid #4EAEFA;
    color: #000;
    text-decoration: none;
}

.menu__item-droplist {
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    width: 200px;
    background: #FFFFFF;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    z-index: 99;
    overflow: hidden;
}

.menu__item-droplist-item-link {
    display: block;
    width: 100%;
    padding: 8px 16px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    text-decoration: none;
    color: #707683;
    background: #fff;
}

.menu__item-droplist-item-link:hover {
    text-decoration: none;
    color: #000;
    background: #F5F5F5;
}



/*Header Hamburger*/
.header__hamburger {
    width: 20px;
}

.header__hamburger-icon {
    font-size: 20px;
    color: #707683;
}

.header__hamburger-icon:hover {
    color: #000;
}


/*Header languages*/
.lang__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 8px;
    background: #F5F5F5;
    border: 1px solid rgba(229, 229, 229, 0.6);
    border-radius: 3px;
    cursor: pointer;
}

.lang__btn-active {
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

.lang__btn-image {
    width: 20px;
    height: 14px;
}


/*Header socials*/
.socials__item {
    cursor: pointer;
}

.socials__item:not(:last-child) {
    margin-right: 20px;
}

.socials__item-icon {
    font-size: 15px;
    line-height: 1.6;
    color: #707683;
}

.socials__item:hover > .socials__item-icon {
    color: #1F1C4E;
}


/*Main*/

/*First view*/
.first-view {
    position: relative;
    padding: 36px 0;
    background: #FEDA00;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1;
}

.first-view__description-top-title {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.first-view__description-title {
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 38px;
    line-height: 1.2;
    color: #1F1C4E;
}

.first-view__description-about {
    margin-bottom: 35px;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.6;
    color: #1F1C4E;
}

.first-view__btn  {
    padding: 14px 25px;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
    background: #5DBDFB;
    border: 1px solid #5DBDFB;
    border-radius: 4px;
    cursor: pointer;
}

.first-view__btn:hover  {
    color: #5DBDFB;
    background: #FFFFFF;
    border: 1px solid #5DBDFB;
}

.first-view__image {
    width: 100%;
}

/*Blog*/
.blog {
    padding-top: 55px;
    padding-bottom: 65px;
    background: #EFEFEF;
}

.blog__title {
    margin-bottom: 45px;
    font-family: 'NoirPro-Medium', sans-serif;
    font-size: 36px;
    line-height: 1.2;
    color: #1F1C4E;
}

/*Blog Displayed*/

.blog__list-item-image-block {
    border-radius: 5px;
    overflow: hidden;
}

.blog__list-item-image {
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

.blog__list-item-category--displayed {
    margin: 15px 0;
}

/*Blog List*/

.blog__list-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #E5E5E5;
}

.blog__list-item-category-descr {
    font-family: 'NoirPro-Medium', sans-serif;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #5DBDFB;
}

.blog__list-item-category-link {
    font-family: 'NoirPro-Regular', sans-serif;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.01em;
    text-decoration: none;
    color: #707683;
}

.blog__list-item-category-link-icon {
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.01em;
    color: #707683;
}

.blog__list-item-title-link {
    font-family: 'NoirPro-Medium', sans-serif;
    font-size: 20px;
    line-height: 1.3;
    color: #1F1C4E;
    text-decoration: none;
    cursor: pointer;
}

.blog__list-item-title-link:hover {
    text-decoration: none;
}

.blog__list-item-date {
    font-family: 'NoirPro-Regular', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    color: #707683;
}

.blog__list-item-date--displayed {
    margin: 10px 0;
}

.blog__list-item-description {
    font-family: 'NoirPro-Light', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #1F1C4E;
}

.blog__list-item-category--right-side {
    margin-bottom: 5px;
}

.blog__list-item-date--right-side {
    margin: 10px 0;
}

/*Blog button*/

.blog__list-btn {
    padding: 7px 15px;
    font-family: 'NoirPro-Regular', sans-serif;
    font-size: 15px;
    line-height: 1;
    text-align: center;
    color: #5DBDFB;
    border: 1px solid #5DBDFB;
    box-sizing: border-box;
    border-radius: 5px;
    background: #EFEFEF;
    cursor: pointer;
}

.blog__list-btn:hover {
    color: #EFEFEF;
    border: 1px solid #5DBDFB;
    background: #5DBDFB;
}


/*Media 320 to 991 for MENU*/
@media screen and (min-width: 320px) and (max-width: 991px) {
    .menu__list {
        position: absolute;
        left: 0;
        top: 100%;
        display: none;
        background: #fff;
    }

    .menu__list--show {
        display: block;
    }

    .menu__item-link {
        padding: 11px 8px 13px 8px;
    }

    .menu__item-droplist {
        position: relative;
        display: none;
        width: auto;
    }

    .menu__item-droplist--open {
        display: block;
    }
}
@media screen and (min-width: 992px) {
    .menu__item:hover > .menu__item-droplist {
        display: block;
    }
}



/*Media 576 to 1199*/
@media screen and (min-width: 576px) and (max-width: 1199px) {

    /*First view block*/
    .first-view__description-top-title {
        font-size: 14px;
    }

    .first-view__description-title {
        font-size: 26px;
    }

    .first-view__description-about {
        font-size: 16px;
    }

    .first-view__btn  {
        padding: 10px 18px;
        font-size: 13px;
    }


    /*Blog*/
    .blog__list-item--displayed {
        margin-bottom: 30px;
        border-bottom: 1px solid #E5E5E5;
    }

    .blog__list-item-description {
        margin-bottom: 20px;
    }
}


/*Media 320 to 575*/
@media screen and (min-width: 320px) and (max-width: 575px) {

    /*First view block*/
    .first-view__description-top-title {
        font-size: 12px;
    }

    .first-view__description-title {
        font-size: 20px;
    }

    .first-view__description-about {
        font-size: 14px;
    }

    .first-view__btn  {
        padding: 8px 14px;
        font-size: 12px;
    }

    .first-view__image-block {
       display: none;
    }


    /*Blog*/
    .blog__list-item--displayed {
        margin-bottom: 30px;
        border-bottom: 1px solid #E5E5E5;
    }

    .blog__list-item-description {
        margin-bottom: 20px;
    }

    .blog__list-item-title-link {
        font-size: 16px;
    }

    .blog__list-item-date {
        font-size: 12px;
    }

    .blog__list-item-description {
        font-size: 14px;
    }

    .blog__list-btn {
        font-size: 12px;
    }
}